<h2>List Details</h2>
<div class="row my-2">

  <% @list.movies.each do |movie| %>
  <div class="bg-white rounded shadow h-100 mb-5">
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
    <small class="text-muted"><%= movie.overview %></small>
    <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
     <small class="text-right flex-shrink-0"><%= link_to "delete", list_bookmark_path(@list, bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></small>
  </div>
  <% end %>
